        /*
        Aquí hemos diseñado el color de los encabezados 
        */
        h1,h5{
                font-size: 40pt;
        }
        h1,h2,h3,h4,h5{
                color:brown;
                background-color:aqua;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        body{
                background-color:aqua;
        }